{% extends 'products/base.html' %}
{% load static %}
{% block 1 %}
 <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Giảng viên</a>
          <a href="#" class="btn btn-secondary my-2">Thành tích</a>
        </p>
      </div>
    </div>
  </section>
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for list in detail %}
        <div class="col">
          <div class="card shadow-sm">
            <img src=" {{ list.thumbnail.url }}" alt="">
            <div class="card-body">
              <p class="card-text">{{list.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% if user.is_authenticated %}
                  <a href="detail/{{ list.parent_id}}/{{ list.id }}" role="button" class="btn btn-sm btn-outline-secondary">View </a>
                  {% else %}
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Get account</button>-->
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Get account
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Bạn cần login để xem video!!
                        </div>
                        <div class="modal-footer">
<!--                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
                          <a href="accounts/login/" role="button" class="btn btn-sm btn-primary">Đã hiểu </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif%}
              </div>
              <small class="text-danger"><strong>{{list.duration}}</strong></small>
            </div>
          </div>
        </div>
      </div>
        {%endfor%}
{% endblock 1 %}


